<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="main">
      <div id="nav">
        <div id="nav-left">
          <h1>Crop.ai</h1>
        </div>
        <div id="nav-right">
          <ul>
            <li>KHET</li>
            <li>RAIN</li>
            <li>CHAT</li>
          </ul>
        </div>
      </div>

      <div id="center">
        <div id="content">
          <video
            autoplay
            muted
            loop
            src="Video Banner Stock Videos - Rural, Farming, Agriculture, Nature.mp4"
          ></video>

          <div id="overlay">
            <div id="over1">
              <h1>We stand with farmers <br />forever</h1>
              <h2>01</h2>
            </div>
            <div id="over2">
              <h4>Explore</h4>
              <img src="icons8-arrow-50.png" alt="Arrow Icon" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
