<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    This is the api page
    <form action="/api" method="POST">
        <input type="text" name="prompt" placeholder="write your prompt here">
        <input type="submit">
    </form>
    <!-- <div class="ans">
       
    </div> -->

</body>

</html>