@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}



nav{
  width: 100%;
  padding:0px 25px;
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.home-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.video{
  width: 100%;
  height: 90.5vh;
  position: relative;
}

.video .overlay{
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg,rgba(0,0,0,0.7),rgba(0,0,0,0.5));
  color: white;
  align-items: flex-end;
  justify-content: flex-start;
}

.video .overlay .inner-box{
  position: absolute;
  top: 80%;
  left: 8%;
  transform: translate(-50%,0%);
}

.video .overlay.inner-box .para-box{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.video .overlay #line{
  width: 96vw;
  position: absolute;
  left: 10%;
  margin-top: 25px;
  height: 2px;
  background: white;
}

/* Chagpt's styling */
/* Video Styles */
.video-container {
  position: relative;
  width: 100%;
  height: 90.5vh;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay Styles */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px;
}

/* Text Styles */
.video-text {
  color: white;
  margin-bottom: 100px; /* Adjust this value to move the text higher or lower */
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video-text strong {
  font-size: 2rem; /* Adjust font size as needed */
  display: block;
  margin-bottom: 10px;
}

.video-text p {
  font-size: 1.2rem; /* Adjust font size as needed */
}

.video-text-line{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-text-line .fa-arrow-right{
  font-size: 40px;
  padding: 15px;
  /* border: 1px solid white; */
  border-radius: 50%;
}
.video-text #line{
  width: 100%;
  background: white;
  height: 2px;

}
/* Arrow Styles */
.next-arrow {
  text-align: center;
  font-size: 2rem; /* Adjust arrow size as needed */
  color: white;
  margin-bottom: 20px; /* Space between text and arrow */
  cursor: pointer;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}
.carousel-caption {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.video-filter {
  filter: brightness(0.9) contrast(1.1) saturate(1.2);
}

.carousel-item {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


/* Features container */
.features-container {
  background-color: #40391C;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  .features-container {
      max-width: 1279px;
      margin: 0 80px;
  }
}

@media screen and (max-width: 991px) {
  .features-container {
      max-width: 959px;
      margin: 0 16px;
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
}

@media screen and (max-width: 991px) {
  .cards-grid {
      grid-template-columns: 1fr;
  }
}

.features-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  color: transparent;
  font-weight: 600;
  line-height: 60px;
}

.card-content {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  border-radius: 10px;
  padding: 40px;
}

.feature-card {
  background-color: #40391C;
  width: 100%;
  min-height: 100%;
  
}

.feature-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
  padding-bottom: 8px;
}

.feature-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
}

/* Icon Styles */
.icon-large {
  font-size: 100px;
  color: green;
}

#icon-disease, #icon-harvest {
  color: palevioletred;
}

.bg-green-card {
  background-color: #dff0d8;
}

.bg-white-card {
  background-color: #ffffff;
}

.bg-yellow-card {
  background-color: #fff3cd;
}



/* Disease Page */
.disease-page {
  width: 100%;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 50px;
  background-color: #f5f5f5;
}

.disease-page .disease-buttons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.disease-page .disease-buttons-box .option-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 15px;
  border: 4px solid rgb(91, 177, 91);
  padding: 15px;
  gap: 15px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.disease-page .disease-buttons-box .option-card:hover {
  transform: scale(1.05);
}

.disease-page .disease-buttons-box .option-card .img-box {
  background: rgb(91, 177, 91);
  padding: 20px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
}

.disease-page .disease-buttons-box .option-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.disease-page .disease-buttons-box .option-card .content h2 {
  font-size: 18px;
  line-height: 22px;
  color: rgb(91, 177, 91);
}

.disease-page .disease-buttons-box .option-card .content p {
  font-size: 14px;
  color: #333;
}

/* Disease scan page*/
.disease-scan-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
  width: 100%;
  gap: 25px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
  width: 40%;
  text-align: center;
  font-weight: 600;
}

.custom-file-upload:hover {
  background-color: #45a049;
}

input[type="file"] {
  display: none;
}

.uploaded-image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.uploaded-image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.disease-empty-image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  border: 1px solid;
}

.disease-scan-page .answer-box{
  flex-basis: 50%;
  padding: 25px;
  border: 1px solid;
  margin-left: 35px;  
  border-radius: 5px;
}

/* Disease Describe Page */
.disease-describe-page{
  width: 100%;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 25px 50px;
}

.disease-describe-page .form-container{
  width : 500px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-basis: 50%;
}
.disease-describe-page form{
  display: flex;
  flex-direction: column;
  gap:15px;
  width: 100%;
}
.disease-describe-page .form-container  h2{
color: rgb(91, 177, 91);
}
.disease-describe-page form textarea{
  width: 100%;
  height: 250px;
  resize: none;
  border-radius: 5px;
  outline: 0;
  padding: 10px;
  font-size: 15px;
  border: 2px solid rgb(91, 177, 91);
}
.disease-describe-page form button{
  color: white;
  background: rgb(91, 177, 91);
  border: 0;
  outline: 0;
  padding: 9px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

.disease-describe-page {
  display: flex;
}

.disease-describe-page .answer-box {
  flex-basis: 50%;
  min-height: 100%;
  border: 1px solid;
  border-radius: 5px;
  overflow: auto;
}

/* Crop Info Page */

/* Crop Info Page */
.crop-info-page {
  width: 100%;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 50px;
  background-color: #f5f5f5;
}
.crop-info-page form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66%;
}
.crop-info-page form input{
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 20px;
  border: 2px solid rgb(91, 177, 91);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}


.crop-info-page .info-buttons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.crop-info-page .info-buttons-box .info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 15px;
  border: 4px solid rgb(91, 177, 91);
  padding: 15px;
  gap: 15px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.crop-info-page .info-buttons-box .info-card:hover {
  transform: scale(1.05);
}

.crop-info-page .info-buttons-box .info-card .img-box {
  background: rgb(91, 177, 91);
  padding: 20px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
}

.crop-info-page .info-buttons-box .info-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.crop-info-page .info-buttons-box .info-card .content h2 {
  font-size: 18px;
  line-height: 22px;
  color: rgb(91, 177, 91);
  text-align: center;
}

.crop-info-page .info-buttons-box .info-card .content p {
  font-size: 14px;
  text-align: center;
  color: #333;
}